body {
    background-color: aquamarine;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    text-align: center;
    border: 2px solid rgb(223, 194, 194);
    padding: 10px;
    margin: 20px 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(223, 194, 194);
    padding: 10px;
    width: 300px;
    height: 300px;
}

p {
    font-size: 20px;
    color: blue;
    width: 600px;
}