body {
    background-color: aquamarine;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#continer {

    background-color: rgb(145, 239, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(63, 108, 93);
    gap: 5px;
    padding: 20px;

}

button {
    height: 80px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
}